.super-container
  = render "pages/logo"
  #sign_in
    .container
      = form_tag sessions_path do
        %fieldset
          %dd= text_field_tag :email, nil, placeholder: "Email"
          %dd= password_field_tag :password, nil, placeholder: "Password"

        %fieldset.actions
          = submit_tag 'Sign in'
      = link_to "Not registered? Sign up now!", new_user_path

= render 'pages/footer'
