#user-edit
  .panel.primary
    .panel-header
      %h1 Edit user
    .panel-body
      = form_for user do |f|
        %fieldset
          %dt= f.label :email
          = f.text_field :email

          %dt= f.label :current_password
          = password_field_tag :current_password

          %dt= f.label :use_paycheck
          = f.check_box :use_paycheck

        %fieldset.actions
          = f.submit "Save"
