#registration
  = render "pages/logo"
  .container
    .sub-container.left
      %h1 Sign Up
      = form_for user do |f|
        %fieldset
          %dd= f.text_field :email, placeholder: "Email"

          %dd= f.password_field :password, placeholder: "Password"

          %dd= f.password_field :password_confirmation, placeholder: "Password Confirmation"

        %fieldset.actions
          = f.submit 'Sign Up'
    .sub-container.right
      %h1 What is the MoneyTracker?
      %p The goal of this application is to make budgeting easier for college students. As a student going into his second year of university, budgeting was tough. I had resorted to using a spreadsheet and manually inputting data which is by no means ideal when exams and projects are being thrown at you weekly. This application solves the struggle I had managing my money.
      %p The MoneyTracker is a budgeting service that autopopulates your budget based on a "paycheck" (any source of income) and a "category" with a defined percentage of income. By defining a category, everytime you add a paycheck, all of your categories' amounts will be updated accordingly. The whole application is intuitive and every action on the page will automatically update the content on the page. I personally used this option while interning over this past summer.
      %p.last Optionally, you can turn this functionality on or off by updating your status on the application. This will allow you to create categories and manually input how much money each category should have. This is advantagous if one's source of income is inconsistent or comes in small amounts per week.
      %p
        * This application is constantly being updated and will have new functionality and improved user interactions regualarly. You can contact me
        %a{href: contact_path} here.
        for any questions or concerns.

= render 'pages/footer'
