#registration
  .left
    .content
      %h1 Sign Up
      = form_for user do |f|
        %fieldset
          %dt= f.label :email
          %dd= f.text_field :email

          %dt= f.label :password
          %dd= f.password_field :password

          %dt= f.label :password_confirmation
          %dd= f.password_field :password_confirmation

        %fieldset.actions
          = f.submit 'Sign Up'
