%tr.table-row
  %td
    .text= record.adjusted_date.strftime("%-m/%d/%y")
  %td
    .text= record.category.name
  %td
    - if is_negative_amount?(record)
      %p.red-record.text= record.amount
    - else
      %p.blue-record.text= record.amount
  %td= record.description.truncate(30)
