#history
  - if money_records && active_categories.present?
    .history-form
      = link_to 'All Records', money_records_path(start_date: money_records.first.created_at.to_date, end_date: Date.today, filter: 'all')
      = link_to 'Active Records', money_records_path(start_date: active_records.first.created_at.to_date, end_date: Date.today, active: true)
      %a.show-category-filter Custom Filter
      .category-search-form
        = form_tag money_records_path, method: 'get' do
          %fieldset
            .inline
              %dt= label_tag :category
              %dd= select_tag :category_id, options_for_select(active_categories.collect { |category| [category.name.titleize, category.id]}), {include_blank: "Select Category", class: 'field category-select'}

            .inline
              %dt= label_tag :start_date
              %dd= date_field_tag :start_date

            .inline
              %dt= label_tag :end_date
              %dd= date_field_tag :end_date

            = hidden_field_tag :filter, value: 'other'

          %fieldset.actions
            = submit_tag 'Search', class: 'category-submit'

    %h1 Records
    %h2= @category.name if @category
    %h2 #{@start_date.strftime("%-m/%d/%y")} - #{@end_date.strftime("%-m/%d/%y")}
    .records-table
      %table.tables
        %thead
          %tr
            %th Date
            %th Category
            %th Amount
            %th Actions
            %th Total
        %tbody
          - if !filtered_money_records.count
            %tr.table-row
              = form_for filtered_money_records, html: {class: 'edit_form'} do |f|
                %td
                  = filtered_money_records.created_at.strftime("%-m/%d/%y %I:%M %p")
                %td= filtered_money_records.category.name
                - if filtered_money_records.amount < 0
                  %td.red-record= filtered_money_records.amount
                - elsif filtered_money_records.amount >= 0
                  %td.blue-record= filtered_money_records.amount
                %td
                  %button.left.edit Edit
                %td
          - elsif filtered_money_records
            = render partial: 'records_table', collection: filtered_money_records, as: :record
          %tr
            %td
            %td
            %td
            %td
            - if !filtered_money_records.count
              %td= filtered_money_records.amount
            - else
              %td= number_to_currency(MoneyRecord.sum(filtered_money_records), format: "%n %u")
    -# - if !filtered_money_records.amount
    -#   = will_paginate filtered_money_records
  - else
    %h1 No Records

