#history
  - if money_records.present? && active_categories.present?
    %h1 History
    .history-form
      = link_to 'All Records', money_records_path(start_date: money_records.first.created_at.to_date, end_date: Date.today, filter: 'all')
      = link_to 'Active Records', money_records_path(start_date: active_records.first.created_at.to_date, end_date: Date.today, active: true)
      = form_tag money_records_path, method: 'get' do
        %fieldset
          %dt= label_tag :category
          %dd= select_tag :category_id, options_for_select(active_categories.collect { |category| [category.name.titleize, category.id]}), {include_blank: "Select Category"}

          %dt= label_tag :start_date
          %dd= date_field_tag :start_date

          %dt= label_tag :end_date
          %dd= date_field_tag :end_date

          = hidden_field_tag :filter, value: 'other'

        %fieldset.actions
          = submit_tag 'Search'

    %h1 Records
    %h2= @category.name if @category
    %h2 #{@start_date} - #{@end_date}
    .records-table
      %table.tables
        %thead
          %tr
            %th Date
            %th Amount
            %th Actions
            %th Total
        %tbody
          = render partial: 'records_table', collection: filtered_money_records, as: :record
          %tr
            %td
            %td
            %td
            %td= number_to_currency(MoneyRecord.sum(filtered_money_records), format: "%n %u")
    = will_paginate filtered_money_records unless filtered_money_records == active_records
  - else
    %h1 No Records

