.category{data: {id: category.id}}
  .card
    .category-name
      %h1= category.name
    .amount
      = number_to_currency(category.amount, format: "%n %u")
    .card-copy
      %p= category.description
      .actions
        %button.edit-funds{id: category.id} Edit
        = form_for money_record, html: {class: 'money-record-form', id: category.id} do |f|
          %fieldset
            %dt= f.label :amount
            %dd= f.number_field :amount, class: 'number-field', step: '0.01', placeholder: '60.00'
          %fieldset.actions
            = f.submit 'Edit Funds'
            %button.cancel-funds.danger Cancel
        - if category.id.present?
          %button.danger.archive{data: {url: category_path(category.id), id: category.id}} Delete
