.item

  .top-container{data: {id: category.id, name: category.name}}
    %h1= category.name.titleize
    .description
      = category.description
      = "#{number_to_percentage(category.paycheck_percentage, precision: 0)} of paycheck" if current_user.use_paycheck?

  .bottom-container
    - if is_negative?(category.amount)
      %p.red-record.balance= number_to_currency(category.amount)
      %p.sub-text Availible Funds
    - else
      %p.blue-record.balance= number_to_currency(category.amount)
      %p.sub-text Availible Funds

    %button.transaction.small Add Funds
    - if category.active?
      %button.archive.danger.small{ data: {url: category_path(category.id)} } Archive
    - else
      %button.restore.small{ data: {url: unarchive_categories_path(id: category.id)} } Restore

    = form_for money_record, html: {class: "new_record hidden_form"} do |f|
      %fieldset
        = f.label :amount
        = f.number_field :amount, class: 'number-field', step: '0.01', placeholder: '60.00'

        = f.hidden_field :category_id, value: category.id

        = f.label :description
        = f.text_field :description

      %fieldset.actions
        = f.submit "Save", class: "save"
        %button.cancel.danger Cancel
