.item

  .top-container{data: {id: category.id, name: category.name}}
    %h1= category.name.titleize
    .description
      %p= category.description
      = "#{number_to_percentage(category.paycheck_percentage, precision: 0)} of paycheck" if current_user.use_paycheck?

  .bottom-container
    - if is_negative?(category.amount)
      %p.red-record.balance= number_to_currency(category.amount)
    - else
      %p.blue-record.balance= number_to_currency(category.amount)
    %p.sub-text Availible Funds

    - if category.cycle_date.present?
      %p.cycle_date= "Due on: #{category.cycle_date.strftime("%-m/%d/%y")}"
      %p.amount_due= "Amount due: #{number_to_currency(category.amount_due)}"

    %button.transaction.small Add Funds

    - if category.cycle_date.present?
      %button.reset.small{ data: {url: edit_category_path(category.id, format: :json)} } Reset cycle?

    - if category.active?
      %button.archive.danger.small{ data: {url: category_path(category.id)} } Archive
    - else
      %button.restore.small{ data: {url: unarchive_categories_path(id: category.id)} } Restore

    = form_for money_record, html: {class: "new_record hidden_form"} do |f|
      %fieldset
        = f.label :amount
        = f.number_field :amount, class: 'number-field', step: '0.01', placeholder: '60.00'

        = f.hidden_field :category_id, value: category.id

        = f.label :description
        = f.text_field :description

      %fieldset.actions
        = f.submit "Save", class: "save"
        %button.cancel.danger Cancel
