.modal
  %label{:for => "modal-1"}
    %a.create_category.button-link.modal-trigger Add Category

  %input#modal-1.modal-state{:type => "checkbox"}/
  .modal-fade-screen
    .modal-inner
      .modal-close{:for => "modal-1"}
      %h1 Create new category
      = form_for category, html: {id: 'new'} do |f|
        %fieldset

          %dt= f.label :name
          %dd= f.text_field :name, class: 'small-field', placeholder: 'Category Name'

          %dt= amount_label(f, current_user.use_paycheck?)
          %dd= amount_field(f, current_user.use_paycheck?)

          %dt= f.label :description
          %dd= f.text_area :description, placeholder: 'Optional'

        %fieldset.actions
          = f.submit 'Create', class: "create-category"
          %button.danger.cancel.hidden Cancel
