.modal
  %label{:for => "modal-1"}
    .modal-trigger Add Category

  %input#modal-1.modal-state{:type => "checkbox"}/
  .modal-fade-screen
    .modal-inner
      .modal-close{:for => "modal-1"}
      %h1 Create new category
      = form_for category, html: {id: 'new'} do |f|
        %fieldset

          %dt= f.label :name
          %dd= f.text_field :name, class: 'small-field', placeholder: 'Category Name'

          %dt= f.label :amount
          %dd= f.number_field :amount, class: 'number-field', step: '0.01', placeholder: '60.00'

          %dt= f.label :description
          %dd= f.text_area :description, placeholder: 'Optional'

        %fieldset.actions
          = f.submit 'Create'
          %button.danger.cancel.hidden Cancel
