#categories
  .container
    %ul.categories
      %h1 Archived Categories
      .list
        = render partial: 'category_container', collection: archived_categories, as: :category
    %ul.selected-category
      %h1.records_for All Records
      .table-container
        %table.tables
          %thead
            %tr
              %th Date
              %th Category
              %th Description
              %th Amount
          %tbody
            - if archived_records_by_date.first.present?
              - archived_records_by_date.each do |records_array|
                %tr.tables-row
                  %td= records_array.first.adjusted_date.strftime("%-m/%d/%y")
                  %td= records_array.first.category.name
                  %td= records_array.first.description.truncate(20)
                  %td
                    - if is_negative_amount?(records_array.first)
                      %span.red-record.text= records_array.first.amount
                    - else
                      %span.blue-record.text= records_array.first.amount

                - records_array[1..-1].each do |record|
                  %tr.no_upper_border
                    %td
                    %td= record.category.name
                    %td= record.description.truncate(20)
                    %td
                      - if is_negative_amount?(record)
                        %span.red-record.text= record.amount
                      - else
                        %span.blue-record.text= record.amount
              %tr.entire_length
                %td{colspan: '4'}
                  %button.load_more Load More
