#categories
  %h1 Active
  %div
    %button.success-button#add-category Add Category

  .hidden-form
    = form_for category, html: {id: 'new'} do |f|
      %fieldset

        %dt= f.label :name
        %dd= f.text_field :name, class: 'small-field', placeholder: 'Category Name'

        %dt= f.label :amount
        %dd= f.number_field :amount, class: 'number-field', step: '0.01', placeholder: '60.00'

        %dt= f.label :description
        %dd= f.text_area :description, placeholder: 'Optional'


      %fieldset.actions
        = f.submit 'Create'
        %button.danger.cancel Cancel
  .category-container
    .category{data: {id: category.id}}
      .card
        .category-name
          %h1 Groceries
        .amount 46.49
        .card-copy
          %p This money is for groceries only, nothing else!
          .actions
            %button.edit-funds.add-padding Edit
            = form_for money_record, html: {class: 'money-record-form', id: category.id} do |f|
              %fieldset
                %dt= f.label :amount
                %dd= f.number_field :amount, class: 'number-field', step: '0.01', placeholder: '60.00'
              %fieldset.actions
                = f.submit 'Confirm', class: 'edit edit-funds'
                %button.cancel-funds.danger Cancel
            %button.danger.archive Archive
  .table-container
    %h1#recent Recent Records
    .records-table.categories-records
      %table.tables
        %thead
          %tr
            %th Date
            %th Category
            %th Amount
            %th Actions
            %th Total
        %tbody
          %tr.table-row
            = form_for money_record, html: {class: 'edit_form'} do |f|
              %td
                .text 09/22/2015 11:01pm
                .field= f.date_field :adjusted_date
              %td
                .text Groceries
              %td
                %p.red-record.text -12.83
                .field= f.number_field :amount, class: 'number-field', step: '0.01'
              %td
                %button.left.edit Edit
                %button.cancel.buttons Cancel
              %td
          %tr.table-row
            = form_for money_record, html: {class: 'edit_form'} do |f|
              %td
                .text 09/22/2015 11:01pm
                .field= f.date_field :adjusted_date
              %td
                .text Groceries
              %td
                %p.blue-record.text $42.00
                .field= f.number_field :amount, class: 'number-field', step: '0.01'
              %td
                %button.left.edit Edit
                %button.cancel.buttons Cancel
              %td
          %tr.table-row
            = form_for money_record, html: {class: 'edit_form'} do |f|
              %td
                .text 11/13/2015 05:45pm
                .field= f.date_field :adjusted_date
              %td
                .text Groceries
              %td
                %p.red-record.text $40.45
                .field= f.number_field :amount, class: 'number-field', step: '0.01'
              %td
                %button.left.edit Edit
                %button.cancel.buttons Cancel
              %td
          %tr.table-row
            = form_for money_record, html: {class: 'edit_form'} do |f|
              %td
                .text 11/21/2015 05:25pm
                .field= f.date_field :adjusted_date
              %td
                .text Groceries
              %td
                %p.blue-record.text $100.00
                .field= f.number_field :amount, class: 'number-field', step: '0.01'
              %td
                %button.left.edit Edit
                %button.cancel.buttons Cancel
              %td
          %tr.table-row
            = form_for money_record, html: {class: 'edit_form'} do |f|
              %td
                .text 12/13/2015 05:01pm
                .field= f.date_field :adjusted_date
              %td
                .text Groceries
              %td
                %p.red-record.text $42.23
                .field= f.number_field :amount, class: 'number-field', step: '0.01'
              %td
                %button.left.edit Edit
                %button.cancel.buttons Cancel
              %td
          %tr
            %td
            %td
            %td
            %td= link_to 'More'
            %td $46.49
