#categories
  .container
    %ul.categories
      %h1 Categories
      .list
        = render partial: 'category_container', collection: active_categories, as: :category
      .misc
        .left
          = render "new_category_modal"
          = render "paychecks/new_paycheck_modal" if current_user.use_paycheck?
        .right
          %b Total:
          = number_to_currency(current_user.total_money)
      - if current_user.use_paycheck?
        Amount left in paycheck:
        = last_paycheck_amount
    %ul.selected-category
      %h1.records_for All Records
      = render 'category_table', records_by_date: active_records_by_date
