#categories
  %h1 Active
  %div
    %button.success-button#add-category Add Category

  .hidden-form
    = form_for category, html: {id: 'new'} do |f|
      %fieldset

        %dt= f.label :name
        %dd= f.text_field :name, class: 'small-field', placeholder: 'Category Name'

        %dt= f.label :amount
        %dd= f.number_field :amount, class: 'number-field', step: '0.01', placeholder: '60.00'

        %dt= f.label :description
        %dd= f.text_area :description, placeholder: 'Optional'


      %fieldset.actions
        = f.submit 'Create'
        %button.danger-button#cancel Cancel
  .category-container
    = render partial: 'category_container', collection: active_categories, as: :category
  %h1 Recent Records
  .records-table.categories-records
    %table.tables
      %thead
        %tr
          %th Date
          %th Category
          %th Amount
          %th Actions
          %th Total
      %tbody
        - if money_records
          = render partial: 'money_records/records_table', collection: money_records, as: :record
        %tr
          %td
          %td
          %td
          %td= link_to 'View More', money_records_path, class: 'view-more-link'
          %td= number_to_currency(MoneyRecord.sum(money_records), format: "%n %u")
