%html
  %head
    %title MoneyTracker
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}

  %body#main
    - unless @hide_nav
      %header.navigation{:role => "banner"}
        .navigation-wrapper
          %a.logo{:href => "javascript:void(0)"}
            -# %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
          %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
          %nav{:role => "navigation"}
            %ul#js-navigation-menu.navigation-menu.show
              %li.nav-link= link_to 'Active', categories_path
              %li.nav-link= link_to 'Archived', archived_categories_path
              %li.nav-link= link_to 'History', money_records_path(filter: 'all')

              %li#js-navigation-more.nav-link.more
                %a.js-nav-anchor{:href => "javascript:void(0)"} User
                %ul.submenu
                  %li= link_to "Edit", edit_user_path(current_user.id)
                  %li= link_to 'Sign Out', log_out_path



    .flash-messages
      - flash.each do |key, value|
        %div{ class: "alert alert-#{key}" }= value
    = yield
