%head
  %title MoneyTracker
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body#main
  - if current_user.present?
    %h1
      Signed in as:
      = current_user.email
      %br
      = link_to "Log out", log_out_path
  = yield
