%head
  %title MoneyTracker
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body#main
%body
  %header.navigation{:role => "banner"}
    .navigation-wrapper
      = link_to root_path, class: 'logo' do
        %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png"}/
      %nav{:role => "navigation"}
        - if current_user.present?
          = link_to 'Active', categories_path, class: 'navigation-menu-button right'
          = link_to 'Archived', archived_path, class: 'navigation-menu-button right'
          = link_to 'History', root_path, class: 'navigation-menu-button right'
          = link_to 'Contact', root_path, class: 'navigation-menu-button right'
          = link_to 'Sign Out', log_out_path, class: 'navigation-menu-button right', id: 'cancel'
        - else
          = link_to 'Contact', root_path, class: 'navigation-menu-button right'
          = link_to 'About', root_path, class: 'navigation-menu-button right'
          = link_to 'Sign Up', root_path, class: 'navigation-menu-button right', id: 'cancel'
  = yield
